body {
    background-color: rgba(226, 154, 241, 0.833);
    color: rgb(183, 75, 216);/* Fondo blanco para una sensación de amplitud */
    
  }
  
  h1 {
    color: #9a8cb8; /* Morado pastel para los títulos */
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(183, 75, 216); /* Azul pastel para los formularios */
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #141313; /* Morado oscuro para contraste en las etiquetas */
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ee6cb8; /* Borde azul pastel */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 30px;
    background-color: rgb(255, 150, 202); /* Botones morados pastel */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .subirArchivo {
    height: 20px;
    background-color: #e06eff; /* Botones morados pastel para subir archivos */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    background-color:  rgba(247, 228, 250, 0.833);/* Fondo claro para las tablas */
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: rgb(183, 75, 216); /* Cabeceras de tabla azules pastel */
    color: #5e3c66;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #cccccc;
  }
  
  .volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #f765f7; 
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #e719d6;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor-formulario {
    flex: 1; 
    margin-top: 26px;
    margin-right: 30px; 
  }
  
  .contenedor-tabla {
    flex: 1.5; 
    margin-right: 30px;
  }
  
  button:hover, .subirArchivo:hover, .btn-volver:hover {
    background-color: #cb6ef0; 
    color: #ffffff;
  }
  button#btnBorrar:hover {
    background-color: #d94f9b; 
    color: #ffffff;
  }
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }