*{
    margin: 10px;
}
body{
    background-color: rgb(240, 53, 230);
}
.contenedor{
    background-color:rgb(243, 89, 235);
    border-radius: 25px;
}
.boton{
    background-color: antiquewhite;
}
.card{
    background-color:rgb(247, 146, 221);
    box-shadow: 0 4px 8px 0 white;
    overflow: hidden;
    max-width: 600px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 25px;
  }
  input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }